body{
  background-color: #282c34;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.offcanvas{
  background-color: #17191e;
}
.header{
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
}
div{
  color: white;
}
input{
  color: #17191e;
}

/* Fade-in animation class */
/* Fade-out animation class */
.fade-out {
  opacity: 1;
  animation: fadeOut 1s ease-in-out forwards;
   /* Add pointer-events property */

}
.btn-secondary {
  z-index: 1;
}
.header-logo{
  z-index: 2;

}
@keyframes fadeOut {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes loadingAnimation {
  0% {
    opacity: 0.1;
  }
  25% {
    opacity: 0.5;
  }
  50%{
    opacity: 1;
  }
  75% {
    opacity: 0.3;
  }
  90%{
    opacity: 0.5;

  }
  100%{
    opacity: 1;
  }
}
challengelist {
  animation: 3s infinite alternate slidein;
}
/* Define the keyframes for the sliding animation */
@keyframes slideFromTop {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Apply the animation to the target div */
.sliding-div {
  animation: slideFromTop 1s forwards;
}
.green{
  color : #189157
}